html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

a {
  color: inherit;
}

.preloader {
  animation: preloader-failsafe 0s linear 1.5s forwards;
}

@keyframes preloader-failsafe {
  to {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
